@{
    ViewBag.Title = "About Us";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Este sitio web recompila todos los bienes raíces expuestos por los bancos de nuestro país, para que de esta forma los usuarios no tengan que desplazarse en diferentes páginas web, para buscar lo bienes por los cuales andan navegando.</p>
    </div>
</div>