@{
    ViewBag.Title = "Home Page";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
</style>
<div class="jumbotron">
    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="https://www.bnonline.fi.cr/" target="_blank">
                        <img src="~/Images/BN.png" alt="Pagina oficial Banco Nacional" width="460" height="345">
                    </a>
                </div>

                <div class="item">
                    <a href="https://www.bancobcr.com/" target="_blank">
                        <img src="~/Images/BCR.png" alt="Pagina oficial Banco Costa Rica" width="460" height="345">
                    </a>
                </div>

                <div class="item">
                    <a href="https://www.bancopopular.fi.cr/" target="_blank">
                        <img src="~/Images/BancoPopular.png" alt="" width="460" height="345">
                    </a>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <dl>
            <table border=1 class="table table-striped"><tr class="success"><td class="success">
            <dt>1-499686-000, Provincia: San José, Cantón: Vázquez de Coronado, Distrito: Cascajal</dt>
            <dd>

                <span>Dirección exacta: <br /></span>
                de la Escuela Pio XII, contiguo al Liceo de Cascajal, 1.600 mtrs norte. Al llegar al cruce sobre calle a San Pedro,
                a mano izquierda, donde se ubica la última parada de buses de Cascajal son 1.075 mtrs suroeste. Al llegar al portón
                rojo de acceso limitado 80 mtrs, lote a mano izquierda.
                <br /><br />
                <span>
                    Descripción: <br />
                </span>
                No posee construcciones, es de topografía ondulada, con pendiente descendente . Se encuentra en un complejo de
                quintas con dos entradas reguladas con portón. Su acceso es por servidumbre. En los últimos años la zona ha
                presentado un gran desarrollo residencial, de clase media alta y alta (tipo quintas). Valor asignado según
                informe de avalúo 053-11105049968600-2015-U, con fecha 01 de diciembre del 2015, realizado por el Ing. Fabrizzio
                Ortega Vargas, número de registro IC-22096. Nota 1: El eventual oferente debe presentar una declaración jurada,
                donde se indique que acepta el bien en las condiciones actuales y ha corroborado los servicios públicos indicados
                en el avalúo con las instituciones correspondientes así como el uso de suelo de la propiedad ante la municipalidad
                respectiva...
                <a href="https://www.bnventadebienes.com/Properties/314">Leer más</a>
            </dd></td></tr></table>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <table border=1 class="table table-striped"><tr class="warning"><td class="warning">
            <dt>7-074953-000, Provincia: Limón, Cantón: Pococí, Distrito: Guapiles</dt>
            <dd>
                <span>
                    Dirección exacta: <br />
                </span>
                Bella Vista del puente 2 km al sur.
                <br /><br />
                <span>
                    Descripción: <br />
                </span>
                Finca: posee topografía plana, excelente ubicación y accesos, medida según plano 94.745,00 medida según
                registro 94.900,01, la propiedad es atravesada por varias quebradas, requiere levantado de cercas según plano
                este gasto corre por el adjudicatario.Se vende con base en el avalúo # 214-7020107495300-2015-R
                realizado por Roger Molina Mora con fecha 30/09/2015. Con la presentación de la oferta el eventual interesado
                aceptara el inmueble en el estado de conservación y las condiciones en que se encuentra actualmente la finca.
                “ El eventual oferente debe presentar adjunto al cartel de venta declaración jurada adjunta al cartel de venta,
                donde se indique que acepta el bien en las condiciones actuales y ha corroborado los servicios públicos indicados
                en el avalúo (en caso en que la propiedad posea dichos servicios) con las instituciones correspondientes así como
                el uso de suelo de la propiedad ante la municipalidad respectiva”...<a href="https://www.bnventadebienes.com/Properties256">Leer más</a>
            </dd>
            </td></tr></table>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <table border=1 class="table table-striped"><tr class="info"><td class="info">
            <dt>5-093333-000, Provincia: Guanacaste, Cantón: Carrillo, Distrito: Sardinal</dt>
            <dd>
                <span>
                    Dirección exacta: <br />
                </span>
                Sardinal , 300 Metros al Sureste de villas Nacazcolo
                <br /><br />
                <span>
                    Descripción: <br />
                </span>
                La construcción trata de un centro comercial con 12 locales, 2 bodegas y 4 apartamentos construidos en la parte
                posterior en un segundo nivel. No está finalizada , hay apartamentos y locales sin cielos, puertas , sistema
                eléctrico y ventanas. Su ubicación estratégica lo ubica a menos de 1 minuto de la playa en ambiente urbano de
                gran auge turístico...<a href="https://www.bnventadebienes.com/Properties/305">Leer más</a>
            </dd>
            </td></tr></table>
        </dl>
    </div>
</div>