@{
    ViewBag.Title = "Home Page";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
</style>
<div class="jumbotron">
    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="https://www.bnonline.fi.cr/" target="_blank">
                        <img src="~/Images/BN.png" alt="Pagina oficial Banco Nacional" width="460" height="345">
                    </a>
                </div>

                <div class="item">
                    <a href="https://www.bancobcr.com/" target="_blank">
                        <img src="~/Images/BCR.png" alt="Pagina oficial Banco Costa Rica" width="460" height="345">
                    </a>
                </div>

                <div class="item">
                    <a href="https://www.bancopopular.fi.cr/" target="_blank">
                        <img src="~/Images/BancoPopular.png" alt="" width="460" height="345">
                    </a>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <dl>
            <table border=1 class="table table-striped"><tr class="success"><td class="success">
            <dt>
                5-149952-000 Provincia: Guanacaste, Cantón: Tilarán, Distrito: Arenal
            </dt>
            <dd>

                <span>Dirección exacta: <br /></span>
                de la plaza de deportes 200 metros oeste, antiguo Hotel Joya Sureña.
                <br /><br />
                <span>
                    Descripción: <br />
                </span>
                Consiste en dos edificios, uno principal y otro donde se encuentran la mayoría de las habitaciones.
                Existen sectores de la propiedad en las cuales es importante reparar con urgencia como son cielos, canoas,
                precintas, sistemas electromecánicos, piscina, cubierta, entre otros.
                El estado general del complejo es deficiente e intermedio....
                <a href="https://www.bnventadebienes.com/Properties/203">Leer más</a>
            </dd></td></tr></table>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <table border=1 class="table table-striped"><tr class="warning"><td class="warning">
            <dt>
                23 filiales Provincia: Guanacaste, Cantón: Carrillo, Distrito: Sardinal
            </dt>
            <dd>
                <span>
                    Dirección exacta: <br />
                </span>
                Condominio Vista Marina, El Coco.
                <br /><br />
                <span>
                    Descripción: <br />
                </span>
                El oferente deberá aceptar las medidas que indican los planos y los avalúos mismos que se
                deben solicitar al ejecutivo encargado de la venta, se adjunta el avalúo No 214-5050300574470F-2015-C
                efectuado por el Ing.Carlos Enrique Sibaja Solano No de registro IC18128 con fecha de 22 de julio del 2015,
                plano No G-1206618-2007 y estudio de registro como referencia...<a href="https://www.bnventadebienes.com/Properties/227">Leer más</a>
            </dd>
            </td></tr></table>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <table border=1 class="table table-striped"><tr class="info"><td class="info">
            <dt>5-093333-000, Provincia: Guanacaste, Cantón: Carrillo, Distrito: Sardinal</dt>
            <dd>
                <span>
                    Dirección exacta: <br />
                </span>
                Sardinal , 300 Metros al Sureste de villas Nacazcolo
                <br /><br />
                <span>
                    Descripción: <br />
                </span>
                La construcción trata de un centro comercial con 12 locales, 2 bodegas y 4 apartamentos construidos en la parte
                posterior en un segundo nivel. No está finalizada , hay apartamentos y locales sin cielos, puertas , sistema
                eléctrico y ventanas. Su ubicación estratégica lo ubica a menos de 1 minuto de la playa en ambiente urbano de
                gran auge turístico...<a href="https://www.bnventadebienes.com/Properties/305">Leer más</a>
            </dd>
            </td></tr></table>
        </dl>
    </div>
</div>